{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>
    <div class="formGlobal">
        <div class="formInside">
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div class="formRow">
                {{ form_label(registrationForm.username) }}
                {{ form_widget(registrationForm.username) }}
                {{ form_help(registrationForm.username) }}
                {{ form_errors(registrationForm.username) }}
            </div>
            <div class="formRow">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_help(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <div class="formRow">
                <button type="submit" class="btn">S'enregistrer</button>
            </div>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
