{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<div class="encard">
    <h1>Détail de {{ stagiaire }} </h1>
    <p><b>Email</b> : <i>{{ stagiaire.email }}</i> </p>
    <p><b>Age</b> : <i>{{ stagiaire.age }}</i></p>
    <p><b>Inscrit-e aux sessions :</b>
        {% for session in stagiaire.sessions %}
            <i><a href=" {{ path( "detailSession" , {"id" : session.id }) }}">{{ session.titre }} </a></i>
        {% endfor %}
    </p>
    {% if is_granted('ROLE_ADMIN') %}
        Ajouter ce stagiaire aux sessions :
        <table>
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td>{{ session }}</td>
                    <td><a href="{{ path( "addStagiaireToSession", {"id" : stagiaire.id, "session" : session.id }) }}">Ajouter</a></td>
                </tr>
                {% endfor %}                    
            </tbody>
        </table>

    {% endif %}
</div>
{% endblock %}
