{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<div class="encard">
    <h1>Détail de {{ stagiaire }} </h1>
    <p><b>Email</b> : <i>{{ stagiaire.email }}</i> </p>
    <p><b>Age</b> : <i>{{ stagiaire.age }}</i></p>
    <p><b>Inscrit-e aux sessions :</b>
        {% for session in stagiaire.sessions %}
            <i><a href=" {{ path( "detailSession" , {"id" : session.id }) }}">{{ session.titre }} </a></i>
        {% endfor %}
    </p>
</div>
{% endblock %}
