{% extends 'base.html.twig' %}

{% block title %}Hallo StagiaireController!{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}

    <h1>Voici les stagiaires enregistrés</h1>
    <div class="topPage">  
        {% if is_granted('ROLE_ADMIN') %}   
            <a href="{{ path('newStagiaire') }}"><div class="looksLikeAButton">Ajouter un stagiaire</div></a>
        {% endif %}
    </div>

    <div class="cardBoard">
        {% for stagiaire in stagiaires %}
            <div class="card">

                    <p class="titreCard"> {{ stagiaire.nom }} </p>
                    <div class="imgCard">
                        <img src=" {{asset('img/iconT.png')}}" alt="profile">
                    </div>
                    <p class="detail">Voir les détails du stagiaire : <a class="blue" href=" {{path("detailStagiaire", {'id' : stagiaire.id}) }}"><b>Ici</b> </a></p>
                    {% if is_granted('ROLE_ADMIN') %} 
                        <p class="detail">
                            <a href=" {{path("deleteStagiaire", {'id' : stagiaire.id}) }}">Supprimer </a>
                        </p>
                        <p class="detail">
                            <a href=" {{path("editStagiaire", {'id' : stagiaire.id}) }}">Editer </a>
                        </p>
                    {% endif %}
            </div>
            {% endfor %}
    </div>
<script src="{{ asset('js/toggle.js') }}"></script>    
{% endblock %}

