{% extends 'base.html.twig' %}

{% block title %}Hallo StagiaireController!{% endblock %}

{% block body %}

    <h1>Bonjour Visiteur</h1>
    <div class="regle">
        <h2 class="titrePage">Stagiaires liste</h2>      
        {% if is_granted('ROLE_ADMIN') %}   
            <a href="{{ path('newStagiaire') }}"><div class="looksLikeAButton">Ajouter un stagiaire</div></a>
        {% endif %}
    </div>

    <div class="cardBoard">
        {% for stagiaire in stagiaires %}
            <div class="card">

                    <p class="titreCard"> {{ stagiaire.nom }} </p>
                    <div class="imgCard">
                        <img src=" {{asset('img/iconT.png')}}" alt="profile">
                    </div>
                    <p class="detail">Voir les détails du stagiaire : <a class="blue" href=" {{path("detailStagiaire", {'id' : stagiaire.id}) }}"> Ici</a></p>
                    {% if is_granted('ROLE_ADMIN') %} 
                        <p class="detail">
                            <a href=" {{path("deleteStagiaire", {'id' : stagiaire.id}) }}">Supprimer </a>
                        </p>
                    {% endif %}
            </div>
            {% endfor %}
    </div>


        
{% endblock %}
