{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1>Caractérisque de la seesion : {{ session.titre }} </h1>
    <p>Nom du référant formateur : {{ session.formateur.nom }} {{ session.formateur.prenom }} </p>
    <p>Contenu de la formation : {{ session.formation.intitule }} </p>
    <p>Modules concernées : 
        {% if session.programmes is empty %}
            aucun module n'a été trouvé.
        {% else %}
            {% for prog in session.programmes %} 
                {{ prog.moduleSession.nom }}
            {% endfor %}
        {% endif %}
    </p>
    <p>La session démarre le : {{ session.dateSessionDebutFormat }} </p>
    <p>La session se termine le : {{ session.dateSessionFinFormat }}</p>

    {% set  currentDate = "now"|date("Y-m-d") %}
    {% if currentDate > session.dateSessionFinFormat %} {# below cases to display when a session is open or closed #}
        <p>Cette session est terminée</p>
    {% elseif currentDate < session.dateSessionFinFormat  %}
        <p>Cette session est ouverte.</p>
    {% else %}
        <p>Cette session est terminée.</p>
    {% endif %}

    <p>Modules inclus dans cette session de formation</p>

    <ul>
        {% for programme in session.programmes %}
            <li> {{ programme.moduleSession }} {{programme.nbjours}} jours.</li>
        {% endfor %}
    </ul>

    {% if session.dateSessionFinFormat > currentDate %}
        <p>Voici les stagiaires qui se sont inscrits à la session</p>
        <ul>
            {% for stagiaire in session.stagiaires %}
                <li> <a href=" {{ path("detailStagiaire" , {'id' : stagiaire.id }) }}">{{stagiaire}}</a></li>
                <a href=" {{path ('removeStagiaire', {'id' : stagiaire.id , 'session' : session.id }) }}">- </a>
            {% endfor %}
        </ul>
    {% else %}
        {% if session.stagiaires is empty %}
            <p>Aucun stagiaire n'a été trouvé.</p>
        {% else %}
        <p>Voici les stagiaires qui étaient inscrits à la session : </p>
        <ul>
            {% for stagiaire in session.stagiaires %}
                <li>
                    <a href=" {{ path("detailStagiaire" , {'id' : stagiaire.id }) }}">{{stagiaire}}</a>
                    <a href=" {{ path('removeStagiaire', {'id' : stagiaire.id , 'session' : session.id }) }}">-</a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    <p><a class="looksLikeAButton" href=" {{ path("editSession", {"id" : session.id }) }}">Modifier les détails de la session</a></p>
    <p>Ajouter un stagiaire à la session ? </p> 
    <ul>
        {% for stagiaire in stagiairesNonInscrits %}
            <li>
                <a href=" {{path ('detailStagiaire', {'id' : stagiaire.id}) }}">{{ stagiaire }}</a> <a href=" {{path ('addStagiaire', {'id2' : stagiaire.id , 'session2' : session.id }) }}">+</a>
            </li>
        {% endfor %}
    </ul>
    <p>Ajouter un module dans la session ? </p>
    <ul>
        {% for programme in modulesnonconcernes %}
            <li>
                {{ programme.moduleSession.nom }} ({{programme.nbjours}} jours)
            </li>
        {% endfor %}
    </ul>
{% endblock %}
