{% extends 'base.html.twig' %}

{% block meta %}
<meta name="description" content="Détail de la session">
{% endblock %}

{% block title %}Hello SessionController!{% endblock %}


{% block body %}
<div class="encard">
    <h1>Caractérisque de la seesion : {{ session.titre }} </h1>
    {% if is_granted("ROLE_ADMIN") %}
        <p><a class="looksLikeAButton" href=" {{ path("editSession", {"id" : session.id }) }}">Modifier les détails de la session</a></p>        
    {% endif %}
    <p class="zero center"><b>Nom du référant formateur</b> : {{ session.formateur.nom }} {{ session.formateur.prenom }} </p>
    <p class="zero center"><b>Contenu de la formation</b> : {{ session.formation.intitule }} </p>
    <p class="zero center"><b>Modules concernées</b> : 
        {% if session.programmes is empty %}
            aucun module n'a été trouvé.
        {% else %}
            {% for prog in session.programmes %} 
                {% if prog.moduleSession is not null %}
                    {{ prog.moduleSession.nom }} 
                {% endif %}
            {% endfor %}
        {% endif %}
    </p>
    <p class="zero center"><b>La session démarre le</b> : <span class="red" >{{ session.dateSessionDebutFormat }}</span></p>
    <p class="zero center"><b>La session se termine le</b> : <span class="red" >{{ session.dateSessionFinFormat }}</span></p>

    {% set  currentDate = "now"|date("Y-m-d") %}
    {% if currentDate > session.dateSessionFinFormat %} {# below cases to display when a session is open or closed #}
        <p class="zero center">Cette session est <b>terminée.</b></p>
    {% elseif currentDate < session.dateSessionFinFormat  %}
        <p class="zero center">Cette session est <b>ouverte.</b></p>
    {% else %}
        <p class="zero center">Cette session est <b>terminée.</b></p>
    {% endif %}

    <div class="topPage2">
        <div class="colTop">
        <p class="center">Modules inclus dans cette session de formation</p>

        <ul class="modules">
            {% for programme in session.programmes %}
                <li> 
                    {{ programme.moduleSession }} {{programme.nbjours}} jours. 
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path ('removeProgramme', {'id' : session.id , 'programme' : programme.id }) }}" class="looksLikeAButton">Enlever</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            <div class="colTop">
            <p class="zero center">Ajouter un module dans la session ? </p>
            <ul>
                {% for module in modulesnonconcernes %}
                    <li>
                        <form method="post" action="{{ path('addModule', {'id' : module.id , 'session' : session.id , 'moduleSession' : module.id}) }}"
                            <label for="number{{ module.id }}">{{module}} </label>
                            <input type="number" id="number{{ module.id }}" name="number" required>
                            <input type="submit" value="Ajouter" class="looksLikeAButtonGreen"> 
                        </form>
                    </li>
                {% endfor %} 
            </ul>
            </div>
        {% endif %}
    </div>

        <p class="zero center">Voici les stagiaires qui se sont inscrits à la session</p>

            <table>
                <thead>
                    <tr>
                        <th class="boldItalicBasic">Stagiaire</td>
                        <th class="boldItalicBasic">Etat</td>
                        {% if is_granted("ROLE_ADMIN") %}
                            <th class="boldItalicBasic">Actions</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if allStagiaires is empty %}
                        <p>Il n'y a aucun stagiaire</p>
                    {% endif %}
                    {% for stagiaire in allStagiaires %}
                        {% if stagiaire is empty %}
                            <p>Il n'y a aucun stagiaire</p>
                        {% endif %}
                        <tr>
                            <td><span class="boldNoColorChange">{{stagiaire}}</span></td>
                            {% if session in stagiaire.sessions %}
                                <td><b>Inscrit</b></td>
                            {% else %}
                                <td><b>Non inscrit</b></td>
                            {% endif %}
                            {% if is_granted("ROLE_ADMIN") %}
                                {% if session in stagiaire.sessions %}
                                    <td><a class="looksLikeAButtonScarlet" href=" {{ path('removeStagiaire', {'id' : stagiaire.id , 'session' : session.id }) }}">Désinscrire</a></td>
                                {% else %}
                                    <td><a class="looksLikeAButtonGreen" href=" {{ path('addStagiaire', {'id' : stagiaire.id , 'session' : session.id }) }}">Inscrire</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {# <ul>
            {% for stagiaire in session.stagiaires %}
                <li> <a href=" {{ path("detailStagiaire" , {'id' : stagiaire.id }) }}">{{stagiaire}}</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href=" {{path ('removeStagiaire', {'id' : stagiaire.id , 'session' : session.id }) }}">- </a>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        {% if session.stagiaires is empty %}
            <p class="zero">Aucun stagiaire n'a été trouvé.</p>
        {% else %}
        <p class="zero">Voici les stagiaires qui étaient inscrits à la session : </p>
        <ul>
            {% for stagiaire in session.stagiaires %}
                <li>
                    <a href=" {{ path("detailStagiaire" , {'id' : stagiaire.id }) }}">{{stagiaire}}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href=" {{ path('removeStagiaire', {'id' : stagiaire.id , 'session' : session.id }) }}">-</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}     #}

        {# <p class="zero">Ajouter un stagiaire à la session ? </p>  #}
        {# <ul>
            {% for stagiaire in stagiairesNonInscrits %}
                <li>
                    <a href=" {{path ('detailStagiaire', {'id' : stagiaire.id}) }}">{{ stagiaire }}</a> 
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href=" {{path ('addStagiaire', {'id' : stagiaire.id , 'session' : session.id }) }}">+</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul> #}
        {# <p class="zero">Ajouter un module dans la session ? </p>
        <ul>
            {% for module in modulesnonconcernes %}
                <li>
                    <form method="post" action="{{ path('addModule', {'id' : module.id , 'session' : session.id , 'moduleSession' : module.id}) }}"
                    <label for="programme"> {{module}} </label>
                    <input type="number" name="number" required>
                    <input type="submit">
                    </form>
                </li>
            {% endfor %}  #}
    {# </ul> #}

</div>
<script src="{{ asset('js/toggleEncardBis.js') }}"></script>        
{% endblock %}

