{% extends 'leaflet.html.twig' %}

{% block meta %}
<meta name="description" content="Vue globale des sessions">
{% endblock %}
{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1>Liste des sessions</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <p class="topPage">
            <a class="looksLikeAButtonGreen" href=" {{ path('newSession')}} ">Ajouter une session</a>
        </p>
    {% endif %}
    <div class="board">
        {% for session in sessions %}
            <div class="colTop">
                <a href=" {{ path("detailSession" , {'id' : session.id}) }}"><b>{{ session.titre }}</b></a>
                <p>Places Max : {{session.places}} </p>
                {% if currentDate < session.dateSessionFinFormat %}
                    <p>Place(s) restantes : {{ session.placesRestantes }}</p>
                {% else %}
                    <p>La session est fermée</p>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <p><a href=" {{ path("deleteSession" , {'id' : session.id}) }}" class="looksLikeAButtonScarlet">Supprimer la session</a></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
        
<script src="{{ asset('js/toggle.js') }}"></script>    
{% endblock %}

