{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1>Liste des sessions</h1>
    <div class="board">
        {% for session in sessions %}
            <ul>
                <li> <a href=" {{ path("detailSession" , {'id' : session.id}) }}">{{ session.titre }}</a></li>
                <p>Places Max : {{session.places}} </p>
                {% if currentDate < session.dateSessionFinFormat %}
                    <p>Place(s) restantes : {{ session.placesRestantes }}</p>
                {% else %}
                    <p>La session est fermée</p>
                {% endif %}
                <p><a href=" {{ path("deleteSession" , {'id' : session.id}) }}">Supprimer la session</a></p>
            </ul>
        {% endfor %}
    </div>
        
    <p> <a href=" {{ path('newSession')}} ">Ajouter</a> une session</p>
{% endblock %}
