<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8">  
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ asset('css/modulesess.css') }}">
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
        <link rel="stylesheet" href="{{ asset('css/colors.css') }}">
        <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
</head>
<body>
    <nav>
        <ul>
            <li class="zoom"><a href="{{path('globalStagiaire')}}">Stagiaire liste</a></li>
            <li class="zoom"><a href="{{path('globalSession')}}">Sessions liste</a></li>
            <li class="zoom"><a href="{{path('globalCategorie')}}">Catégories liste</a></li>
            <li class="zoom"><a href="{{path('globalFormateur')}}">Formateurs liste</a></li>
            <li class="zoom"><a href="{{path('globalModuleSession')}}">Modules liste</a></li>
            {% if not is_granted('IS_AUTHENTICATED') %}
                <li class="zoom"><a href="{{path('app_login')}}">Se connecter</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED') %}
                <li class="zoom"><a href="{{path('app_logout')}}">Se déconnecter</a></li>
            {% endif %}
            {% if not is_granted('IS_AUTHENTICATED') %}
                <li class="zoom"><a href="{{path('app_register')}}">S'enregistrer</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED') %}
                <li class="zoom"><a href="{{path('app_profile')}}">Profil</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="container">
        {% block body %}
            
        {% endblock %}
    </main>
</body>
</html>
