{% extends 'base.html.twig' %}

{% block title %}Hello CatDetail{% endblock %}

{% block meta %}
<meta name="description" content="Vue détaillée d'une catégorie">
{% endblock %}


{% block body %}
    <h1>Modules concernés par la catégories {{ categorie }}</h1>
    <div class="cardBoard">
        {% for module in categorie.modulesSession %}
        <div class="card">
            <p class="zero center"><a>{{ module.nom }}</a></p>
            {% if is_granted("ROLE_ADMIN") %}
                <a class="looksLikeAButtonScarlet" href=" {{path('deleteModuleSession', {"id" : module.id}) }}">Supprimer</a>
                <a class="looksLikeAButtonGreen" href=" {{path('editModuleSession', {"id" : module.id}) }}">Editer</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
        <script src="{{ asset('js/toggle.js') }}"></script>    
{% endblock %}
