{% extends 'base.html.twig' %}

{% block meta %}
<meta name="description" content="Nouvelle catégorie">
{% endblock %}

{% block title %} 
    {% if not edit %} 
        Ajouter catégorie
    {% else %} 
        Editer une catégorie
    {% endif %}
{% endblock %}

{% block body %}
    {% if not edit %}
        <h1>Ajouter une catégorie</h1>
    {% else %}
        <h1>Editer une catégorie</h1>
    {% endif %}
    <div class="formGlobal">
        {{ form_start(formNewCategorie) }}
        <div class="formInside">
            <div class="formRow">
            {{ form_label(formNewCategorie.nomCategorie) }}
            {{ form_widget(formNewCategorie.nomCategorie) }}
            {{ form_help(formNewCategorie.nomCategorie) }}
            {{ form_errors(formNewCategorie.nomCategorie) }}
            </div>
            <div class="formRow">
            {{ form_label(formNewCategorie.valider) }}
            {{ form_widget(formNewCategorie.valider) }}
            </div>
        </div>
        {{ form_end(formNewCategorie) }}
    </div>
    <script src="{{ asset('js/toggleForm.js') }}"></script>    
{% endblock %}
