{% extends 'base.html.twig' %}

{% block meta %}
<meta name="description" content="Détail d'un formateur">
{% endblock %}

{% block title %}Hello FormateurDetail{% endblock %}

{% block body %}
<div class="encardC">
    <h1>{{ formateur }} est référent-e des sessions </h1>
        {% for session in formateur.sessions %}
            <li>{{ session }}</li>
        {% endfor %}

    <p>
        Contactez le formateur : <a class="red" href="mailto:{{formateur.email}}">{{ formateur.email }}</a>
    </p>
</div>
<script src="{{ asset('js/toggleEncardC.js') }}"></script>    
{% endblock %}
