{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
<h1>Voici la liste des référents de session</h1>

    <div class="topPage">
            <a href=" {{ path("newFormateur") }}"><div class="looksLikeAButton">Ajouter  un formateur</div></a>
    </div>

<div class="cardBoard">
    {% for formateur in formateurs %}
        <div class="card">
            <div class="titreCard">
                <p>
                    <a href = " {{ path('detailFormateur', {'id' : formateur.id}) }}" >{{ formateur }} </a>                    
                </p>
            </div>
            <div class="imgCard">
                <img src=" {{asset('img/iconT.png')}}" alt="profile">
            </div>
            <div class="looksLikeAButtonGrey">
                <a href="{{ path("editFormateur" , {'id' : formateur.id}) }}">Editer</a>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
