{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
<h1>Voici la liste des référents de session</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="topPage">
                <a href=" {{ path("newFormateur") }}"><div class="looksLikeAButton">Ajouter  un formateur</div></a>
        </div>
    {% endif %}

<div class="cardBoard">
    {% for formateur in formateurs %}
        <div class="card">
            <div class="titreCard">
                <p>
                    <a href = " {{ path('detailFormateur', {'id' : formateur.id}) }}" >{{ formateur }} </a>                    
                </p>
            </div>
            <div class="imgCard">
                <img src=" {{asset('img/iconT.png')}}" alt="profile">
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="looksLikeAButtonGrey">
                    <a href="{{ path("editFormateur" , {'id' : formateur.id}) }}">Editer</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="looksLikeAButtonGrey">
                    <a href="{{ path("deleteFormateur" , {'id' : formateur.id}) }}">Supprimer</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <script src="{{ asset('js/toggle.js') }}"></script>    
</div>


{% endblock %}
