{% extends 'base.html.twig' %}

{% block title %} 
    {% if not edit %} 
        Ajouter formateur
    {% else %}
        Editer formateur
    {% endif %} 
{% endblock %}

{% block body %}
    {% if not edit %}
        <h1>Ajouter un formateur</h1>
    {% else %}
        <h1>Editer un formateur</h1>
    {% endif %}
    <div class="formGlobal">
        <div class="formInside">
        {{ form_start(formNewFormateur) }}
            {{ form_row(formNewFormateur.nom) }}
            {{ form_row(formNewFormateur.prenom) }}
            {{ form_row(formNewFormateur.password) }}
            {{ form_row(formNewFormateur.email) }}
        {{ form_end(formNewFormateur) }}
        </div>
    </div>
    <script src="{{ asset('js/toggleForm.js') }}"></script>    
{% endblock %}
