{% extends 'base.html.twig' %}

{% block title %}Hello ModuleSessionController!{% endblock %}

{% block body %}
    <h1>Liste des modules disponibles</h1>
        <a href="{{path("newModuleSession")}}">
            <div class="topPage">
            <div class="looksLikeAButton">
                Nouveau module
            </div>
            </div>
        </a>
        <ul>
        {% for module in modulesSession %}
            <li>
                {{ module }} dans {{ module.categorie }}.
            </li>
            {% if module.programmes is empty %}
                <p>
                    Pas de durée disponible. Aucune session ne propose ce module.
                </p>
                <a href=" {{ path("newProgramme") }}" class="looksLikeAButton">Programmer le module.</a> 
                <a href=" {{ path("deleteModuleSession") }}" class="looksLikeAButton">Supprimer le module.</a> 
            {% else %}
                {% for programme in module.programmes %}
                <p>
                    Durée du module : {{ programme.nbJours }} jours. Module en cours dans {{ programme.session}}.
                    <a href=" {{path("editProgramme" , {'id' : programme.id}) }}">Reprogrammer le module.</a>
                    <a href=" {{ path("deleteProgramme") }}" class="looksLikeAButton">Réinitialiser le module.</a> 
                </p>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>

        <p>
            Note : dans la version de l'intranet actuelle il faut d'abord cliquer sur "Réinitialiser la durée pour supprimer un module".Si le bouton "programmer un module apparaît", alors le module peut être supprimé.
        </p>
{% endblock %}
