{% extends 'base.html.twig' %}
{% block meta %}
<meta name="description" content="Vue globale des modules">
{% endblock %}

{% block title %}Hello ModuleSessionController!{% endblock %}

{% block body %}
    <h1>Liste des modules disponibles</h1>
    <div class="topPage">
        Note : dans la version actuelle de l'intranet supprimer un module supprime tous les programmes associés
    </div>
    <div class="topPageSpace">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="looksLikeAButton" href="{{ path("newModuleSession") }}">
                Nouveau module
            </a>
        {% endif %}
            <a class="looksLikeAButton" href="{{ path("app_programme") }}">
                Voir les modules programmés
            </a>
            <button id="switchBtn">
                Mode tableau
            </button>
    </div>
    <div class="topPage">
        <input type="text" id="searchInput" data-route="{{ path("filterModuleSession") }}" placeholder="Search...">
    </div>
    <div id="filteredCards">

    </div>

    </br>

    
    <div class="cardBoard" data-modules="{{ modulesSession|serialize('json', { groups: 'show_product:list_product'}) }}">
        {% for module in modulesSession %}
                <div class="card">
                    <p class="center zero"><b>{{ module.nom }}</b></p>
                    <p class="center zero">{{ module.categorie }}</p>                  
                    {% if is_granted('ROLE_ADMIN') %}  
                        <p class="center zero"><a href="{{ path('deleteModuleSession', {'id' : module.id}) }}" class="looksLikeAButtonScarlet">Supprimer</a></p>
                        <p class="center zero"><a href="{{ path('editModuleSession', {'id' : module.id}) }}" class="looksLikeAButtonGreen">Editer</a></p>
                    {% endif %}
                </div>
                
        {% endfor %}
    </div>

    <div class = "tableBoard">
        <table>
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Categorie</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td colspan="2">Action</td>
                    {% endif %}
                </tr>
        {% for module in modulesSession %}
            <tr>
                <td>{{ module.nom }}</td>
                <td>{{ module.categorie }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td> <a href="{{ path('deleteModuleSession', {'id' : module.id}) }}" class="looksLikeAButtonScarlet">Supprimer</a></td>
                    <td> <a href="{{ path('editModuleSession', {'id' : module.id}) }}" class="looksLikeAButtonGreen">Éditer</a></td>
                {% endif %}
            </tr>
        {% endfor %}
            </thead>
        </table>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ asset('js/realtime.js') }}"></script>    
<script src="{{ asset('js/switch.js') }}"></script>    
<script src="{{ asset('js/toggleTableOnly.js') }}"></script>    
{% endblock %}


