{% extends 'base.html.twig' %}

{% block title %}Hello ModuleSessionController!{% endblock %}

{% block body %}
    <h1>Liste des modules disponibles</h1>
    <div class="topPage">
        Note : dans la version actuelle de l'intranet supprimer un module supprime tous les programmes associés
    </div>
    <div class="topPageSpace">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="looksLikeAButton" href="{{ path("newModuleSession") }}">
                Nouveau module
            </a>
            <a class="looksLikeAButton" href="{{ path("app_programme") }}">
                Voir les modules programmés
            </a>
        {% endif %}
    </div>
    <div class="topPage">
        <input type="text" id="searchInput" data-route="{{ path("filterModuleSession") }}" placeholder="Search...">
    </div>
    <div id="filteredCards">

    </div>

    </br>

    <div class="cardBoard">
        {% for module in modulesSession %}
                <div class="card">
                    <p class="center"><b>{{ module.nom }}</p></b>
                    <p><a href="{{ path('deleteModuleSession', {'id' : module.id}) }}" class="looksLikeAButtonScarlet">Supprimer</a></p>
                    <p>{{ module.categorie }}</p>
                </div>
        {% endfor %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ asset('js/realtime.js') }}"></script>    
{% endblock %}


