{% extends 'base.html.twig' %}

{% block title %}Hello ModuleSessionController!{% endblock %}

{% block body %}
    <h1>Liste des modules disponibles</h1>
    <div class="topPage">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="looksLikeAButton" href="{{ path("newModuleSession") }}">
                Nouveau module
            </a>
            <a class="looksLikeAButton" href="{{ path("app_programme") }}">
                Voir les modules programmés
            </a>
        {% endif %}
    </div>
    <input type="text" id="searchInput" data-route="{{ path("filterModuleSession") }}" placeholder="Search...">
    <div id="filteredCards" data-modules="{{ modulesSession | json_encode }}"></div>

    </div>

    <div class="cardBoard">
        {% for module in modulesSession %}
                <div class="card">
                    {{ module.nom }} | {{ module.categorie }}.
                </div>
        {% endfor %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{ asset('js/realtime.js') }}"></script>    
{% endblock %}


