{% extends 'base.html.twig' %}

{% block title %} 
    {% if not edit %}
        Ajouter un module 
    {% else %}
        Éditer le module 
    {% endif %}
{% endblock %}

{% block body %}
    {% if not edit %}
        <h1>Créer un nouveau module </h1>
    {% else %}
        <h1>Edition du module </h1>
    {% endif %}
    <div class="formGlobal">
        <div class="formInside">
        {{ form_start(formNewModuleSession) }}
            {{ form_row(formNewModuleSession.nom) }}
            {{ form_row(formNewModuleSession.categorie) }}
        {{ form_end(formNewModuleSession) }}
        </div>
    </div>
    <script src="{{ asset('js/toggleForm.js') }}"></script>    
{% endblock %}
