{% extends 'base.html.twig' %}

{% block title %} +++ module {% endblock %}

{% block body %}
    <h1>Créer un nouveau module </h1>
    <div class="formGlobal">
        <div class="formInside">
        {{ form_start(formNewModuleSession) }}
            {{ form_row(formNewModuleSession.nom) }}
            {{ form_row(formNewModuleSession.categorie) }}
        {{ form_end(formNewModuleSession) }}
        </div>
    </div>
    <script src="{{ asset('js/toggleForm.js') }}"></script>    
{% endblock %}
