{% extends 'base.html.twig' %}

{% block meta %}
<meta name="description" content="Vue globale des modules programmés">
{% endblock %}

{% block title %}Hello ProgrammeController!{% endblock %}

{% block body %}
<h1>Liste des modules programmés</h1>
<div class="topPage">
    {% if is_granted('ROLE_ADMIN') %}
    <a class="looksLikeAButton" href="{{ path("newProgramme") }}">
        Nouveau programme
    </a>
    {% endif %}
</div>

<div class="cardBoard">
    {% for programme in programmes %}
    <div class="card">
        <p class="center">{{ programme }}</p>
        <a class="looksLikeAButton" href="{{ path("deleteProgramme" , {'id' : programme.id }) }}"> Déprogrammer
        <a class="looksLikeAButtonGreen" href="{{ path("editProgramme" , {'id' : programme.id }) }}"> Éditer
        </a>
    </div>
    {% endfor %}
</div>

<script src="{{ asset('js/toggle.js') }}"></script>    
{% endblock %}
