{% extends 'base.html.twig' %}

{% block title %} Programmer un module {% endblock %}

{% block body %}
    <h1>Programmez le module</h1>
    <div class="formGlobal">
        <div class="formInside">
        {{ form_start(formNewProgramme) }}
            {{ form_row(formNewProgramme.session) }}
            {{ form_row(formNewProgramme.module_session) }}
            {{ form_row(formNewProgramme.nbJours) }}
            {{ form_row(formNewProgramme.valider) }}
        {{ form_end(formNewProgramme) }}
        </div>
    </div>
{% endblock %}
