{% extends 'base.html.twig' %}

{% block title %}
    {% if not edit %}
        Programmer un module programmé
    {% else %}
        Éditer un module programmée
    {% endif %}
{% endblock %}

{% block body %}
    {% if not edit %}
        <h1>Programmez le module</h1>
    {% else %}
        <h1>Editer le module programmé</h1>
    {% endif %}
    <div class="formGlobal">
        <div class="formInside">
        {{ form_start(formNewProgramme) }}
            {{ form_row(formNewProgramme.session) }}
            {{ form_row(formNewProgramme.module_session) }}
            {{ form_row(formNewProgramme.nbJours) }}
            {{ form_row(formNewProgramme.valider) }}
        {{ form_end(formNewProgramme) }}
        </div>
    </div>
    <script src="{{ asset('js/toggleForm.js') }}"></script>    
{% endblock %}
